/* Rating */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family:  "Roboto", sans-serif;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate input[type='radio'] {
    display: none;
}
.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate.enabled:not(:checked) > label:hover,
.rate.enabled:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate.enabled > input:checked + label:hover,
.rate.enabled > input:checked + label:hover ~ label,
.rate.enabled > input:checked ~ label:hover,
.rate.enabled > input:checked ~ label:hover ~ label,
.rate.enabled > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

body {
    min-height: 100vh;
    background-color: rgba(230, 237, 235, 0.564);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container main {
    flex: 2;
}

.admin-title-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 936px) {
    .admin-container {
        flex-direction: column;
    }
}


.alert-success.message {
    position: absolute;
    background-color: #16ec2f!important;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

label {
    color: #8e4637;
    font-family: 'Bebas Neue';
    margin-bottom: -1rem!important;
    font-size: 18px;
}


.form-check-input:checked {
    background-color: #8e4637!important;

}

.genre-title {
     color: #8e4637;
    font-family: 'Bebas Neue';
    font-size: 18px;
    margin-top: 2rem;
    margin-bottom: 0rem!important;

}

.director-title {
     color: #8e4637;
    font-family: 'Bebas Neue';
    font-size: 18px;
    margin-top: 2rem;
    margin-bottom: 0rem!important;
}


.form-check-label {
    color: black;
    font-size: 14px;
}

.directors-block .form-label {
    color: black;
    font-size: 14px;

}

.file-upload {
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 30px;
  border: 2px solid #8e4637;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.file-upload:hover {
  background-color: #8e453717;
  transition: 0.3s ease-in-out;
}

.file-input__input {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.file-input__label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.file-input__label span {
  font-size: 14px;
  color: #8e4637;
}

.directors-block a {
    display: inline-block;
    height: 10px;
    margin-top: 2rem!important;
}

.bi-x-square-fill {
    color: rgba(255, 0, 0, 0.523);
    margin-left: 1rem;
}

.bi-x-square-fill:hover {
    color: rgb(255, 0, 0);
    transition: 0.3s ease-in-out;
}




/* *********** home ************** */

.banniere {
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.banniere h1 {
     font-family: "Montserrat", sans-serif;
    

}

.banniere p {
    text-align: justify;
}

h3 {
    font-family: 'Bebas Neue';
    color: #8e4637 ;
}


article:hover {
    box-shadow: 1px 1px 6px#36415663;
    transition: 0.3s ease-in-out;
}

/* *********** show movie ************** */

.movie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block-show-movie {
    max-height: 50rem;
}

.flux-show-movie {
    min-height: 50vh !important;
}

.show-movie-img {
    flex: 2;
}

.show-movie-title {
    font-family: 'Bebas Neue' !important;
    color: #8e4637 !important;
}

.show-movie-genre {
    margin-right: 1rem;
    font-size: 0.8rem;
    background-color: #7d4e5726;
    padding: 0.2rem 0.3rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.show-movie-date {
    font-family: 'Inter';
    font-size: 1rem;
    color: #364156;
}

.show-movie-director {
    font-family: 'Bebas Neue';
    font-size: 0.8rem;
    color: #364156;
}

.show-movie-duration {
    font-family: 'Inter';
    font-size: 0.8rem;
    color: #364156;
}

.rate-text {
    font-size: 0.7rem;
    margin-bottom: 0.3rem;
}

/* films */
.card-item {
    width: 13rem;
    font-family: 'Inter';
    font-size: 0.7rem;
}

.card-item img {
    height: 12rem;
}

.card-item .movie-block {
    max-width: 20rem;
}

.card-item .card-title {
    font-family: 'Bebas Neue';
}

.card-item .card-body {
    padding: 0.8rem;
}

.card-item .card-body a {
    font-size: 0.6rem;
    padding: 0.2rem 0.5rem;
}

section {
    height: auto;
}

form {
    min-width: 30rem;
}

input[name='saveMovie'] {
    margin-left: 70%;
}

.lead {
    font-size: 16px;
    margin-top: 2rem;
    text-align: justify;
}



/* ***************** liste des commentaires ************ */

.comments-section, .rates-section {
    max-width: 50rem;
}

.comments-block:hover {
box-shadow: none!important;
}


.form-check-input:hover {
    cursor: pointer;
}

input[readonly], .movie-form p {
    color: #9a9fa8;
}



/* ***************** tous les films ************ */

.block-movies {
    gap: 2rem;
    row-gap: 5rem;
}



/* ***************** étoiles notation ************ */

.rates-section form {
    margin-top: 2rem!important;
}


.rate-text {
  font-size: 0.7rem;
  margin-bottom: 0.3rem;
}

.rate-span {
    color: #364156;
    display: inline-block;
    font-size: 11px;
    margin-left: 0.5rem;
    margin-top: -1rem;
}

.rate {
  display: flex;
  flex-flow: row-reverse;
  justify-content: left;
}

.rate input[type="radio"] {
  display: none;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked) > label:before {
  content: '★ ';
}

.comments-section {
    margin: 0;
    padding: 0;
}


.rate > input:checked ~ label {
  color: #ffc700;
}

.rate.enabled:not(:checked) > label:hover,
.rate.enabled:not(:checked) > label:hover ~ label {
  color: #deb217;
}

.rate.enabled > input:checked + label:hover,
.rate.enabled > input:checked + label:hover ~ label,
.rate.enabled > input:checked ~ label:hover,
.rate.enabled > input:checked ~ label:hover ~ label,
.rate.enabled > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
 
/* ************ LISTE COMMENTAIRES ************* */

.comment-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 1rem!important;

}

.comment-right-block {
    padding-top: 1rem;
}

.user-rating p {
    margin: 0;
    padding: 0;
}


/* ********************* sidebar admin *************** */

.sidebar__title a {
    color: #ccccccbe;
}

.sidebar__title a:hover {
    color: #cccccc;
}
/* ********************* liste commentaires *************** */

/* ----- affiche tous le commentaire hover -----*/

.span-hover {
    color: #364156a8;
    font-size: 11px;
}
.tooltip {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 1rem;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition:  0.3s;
}

.review-case:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;



}

